<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>thymeleaf</title>
</head>
<body>
    <span th:text="thymeleaf输出纯文本的一个方式"></span>
    <hr/>
    <span th:text="${msg}"></span>
    <hr/>
    <input th:value="${msg}" >
    <hr/>
    <span th:text="${#strings.isEmpty(msg)}"></span>
    <hr/>
    <span th:text="${#strings.contains(msg,'T')}"></span>
    <hr/>
    <span th:text="${#dates.format(date)}"></span>
    <hr/>
    <span th:text="${#dates.format(date,'yyyy/MM/dd')}"></span>
    <hr/>
    <span th:text="${#dates.year(date)}"></span>
    <hr/>
    <span th:text="${#dates.month(date)}"></span>
    <hr/>
    <div>
        <span th:if="${sex} == '男'">
            性别：男
        </span>
        <span th:if="${sex} == '女'">
            性别：女
        </span>
    </div>
    <hr/>
    <div th:switch="${id}">
        <span th:case="1">ID为1</span>
        <span th:case="2">ID为2</span>
        <span th:case="3">ID为3</span>
        <span th:case="*">ID为*</span>
    </div>
    <hr/>
    <table border="1" width="50%">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr th:each="u : ${userList}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.name}"></td>
            <td th:text="${u.age}"></td>
        </tr>
    </table>

    <hr/>
    <table border="1" width="50%">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>Index</th>
            <th>Count</th>
            <th>Size</th>
            <th>Odd</th>
            <th>Even</th>
            <th>First</th>
            <th>Last</th>
        </tr>
        <tr th:each="u,var : ${userList}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.name}"></td>
            <td th:text="${u.age}"></td>
            <td th:text="${var.index}"></td>
            <td th:text="${var.count}"></td>
            <td th:text="${var.size}"></td>
            <td th:text="${var.odd}"></td>
            <td th:text="${var.even}"></td>
            <td th:text="${var.first}"></td>
            <td th:text="${var.last}"></td>
        </tr>
    </table>

<!--    迭代map得到的m是map的entrySet类型-->
    <hr/>
    <table border="1" width="50%">
        <tr>
            <th>value</th>
        </tr>
        <tr th:each="m : ${map}">
            <td th:text="${m}"></td>
        </tr>
    </table>

    <hr/>
    <table border="1" width="50%">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>key</th>
        </tr>
        <tr th:each="m : ${map}">
            <td th:text="${m.value.id}"></td>
            <td th:text="${m.value.name}"></td>
            <td th:text="${m.value.age}"></td>
            <td th:text="${m.key}"></td>
        </tr>
    </table>
    <hr/>
    HttpServletRequest:<span th:text="${#request.getAttribute('req')}"/>
    HttpServletRequest:<span th:text="${#httpServletRequest.getAttribute('req')}"/>
    <hr/>
    HttpSession:<span th:text="${session.sess}"/>
    HttpSession:<span th:text="${#httpSession.getAttribute('sess')}"/>
    <hr/>
    Application:<span th:text="${application.app}"/>
    Application:<span th:text="${#servletContext.getAttribute('app')}"/>

<!--    绝对路径-->
    <hr/>
    <a th:href="@{http://www.baidu.com}">打开百度</a>
<!--    相对路径-->
    <hr/>
    <!--  相对于当前项目的根  -->
    <a th:href="@{/show2}">打开index2</a>

    <hr/>
    <a th:href="@{/show2?id=1&name=admin}">普通URL传递参数方式一</a>
    <hr/>
    <a th:href="@{/show2(id=2,name=khan)}">普通URL传递参数方式二</a>
    <hr/>
<!--动态参数传递 不变的用''包裹，变量用${}传递，使用的是字符串的拼接方式}-->
    <a th:href="@{'/show2?id='+${id}+'&name='+${name}}">普通URL传递参数方式三</a>
<!--动态参数传递，变量可以直接填写${}}）-->
    <hr/>
    <a th:href="@{/show2(id=${id},name=${name})}">普通URL传递参数方式四</a>
    <hr/>
    <a th:href="@{/show3/{id}(id=200)}">restful传递参数方式一</a>
    <hr/>
    <a th:href="@{/show3/{id}/{name}(id=200,name=admin)}">restful传递参数方式二</a>
    <hr/>
    <a th:href="@{/show4/{id}(id=200,name=admin)}">restful传递参数方式三</a>
    <hr/>
    <a th:href="@{/show4/{id}(id=${id},name=${name})}">restful传递参数方式四</a>

</body>
</html>